@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    font-family: "Bellota";
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 6000px;
    background-color: blanchedalmond;
    height: 100vh;
}

.container {
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

/* Меню */
.header {
    background-color: #DD837C;
    padding: 15px 0;
}

.header__links {
    display: flex;
    gap: 50px;
}

.heder__link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.logo {
    display: flex;
    align-items: center;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: blanchedalmond;
}

/* Главная */
.welc_page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1520px;
    display: flex;
    margin-top: 70px;
}

.welc_page .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.welc_img {
    width: 622px;
    height: 657px;
}

.welc_title {
    margin-bottom: 15px;
    width: 662.01px;
    height: 89.82px;
    font-weight: 700;
    font-size: 64px;
    color: #30395B;


}

.welc_txt {
    width: 700px;
    font-weight: 400;
    font-size: 36px;
    color: #30395B;


}

.welc_btn {
    width: 324px;
    height: 94px;
    background: #5C6482;
    border-radius: 51px;
    font-family: 'Bellota';
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
}

.welc_btn:hover {
    background: linear-gradient(90deg, #5C6482 0%, #373B4D 52%, #232734 100%);
}




/* Страница со списном рецептов */
.recipe_section {
    margin-top: 140px;
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
}

.recipe_title {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 55px;
    color: #30395B;
}

.recipe_desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/Photo/Rectangle\ 3.png);
}

.recipe_list {
    font-weight: 400;
    font-size: 36px;
    color: #30395B;
    margin-left: 170px;
}

.recipe_link {
    text-decoration: none;
    color: #30395B;
}

.recipe_food {
    width: 674px;
    height: 362px;
}

